{% extends 'base.html' %}


{% block header_script %}
{% endblock %}

{% block menu %}
{% endblock %}


{% block main %}

<style>
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  pre {
    white-space: pre-wrap; /* 長いテキストの折り返し */
    word-wrap: break-word;
  }
  table {
    width: 100%; /* 幅を100%に */
    margin: 0 auto; /* テーブルを中央揃え */
  }
</style>

<div class="container">
  <table width=80% border=0 cellpadding=0 cellspacing=0>
    <tr><td colspan=2 width="573" align="left"></td></tr>
    <tr><td colspan=2 class=line height=10>&nbsp;</td></tr>
    <tr><td width=5>&nbsp;</td><td align="left"><pre>




◆活動名
　Rnsytem (アールエヌシステム)
　  //rnsystem.jp


◆活動意義
　【Mission】
　　"システム"をもっと身近に。

　【Vision】
　　"寄り添うシステム"を社会に発信する。
　　　"人"と寄り添る情報発信
　　　　人々の生活を豊かにし、便利にするシステムの提供
　　　"地球"と寄り添る情報発信
　　　　環境に配慮した持続可能なシステムや技術の発信
　　　"未来"と寄り添る情報発信
　　　　次世代のためのイノベーションや未来の課題を解決する技術の提供

　【Value】
　　１．共感とユーザー中心の思考
　　　常にユーザーの視点で考え、ニーズに応じたソリューションを提供します。
　　　人々の生活を豊かにし、便利にするために、私たちは常に「共感」を大切にします。
　　２．持続可能性と環境保護
　　　私たちは、地球環境を守り、持続可能な社会を目指します。
　　　環境に配慮した技術やシステムを推進し、未来の世代に安心して使えるシステムを提供します。
　　３．革新と未来志向
　　　私たちは、常に新しいアイデアや技術に挑戦し、未来に向けて変革を進めます。
　　　次世代の課題を解決し、持続可能な未来を創造するため、イノベーションを重視します。
　　４．誠実さと信頼性
　　　私たちは、常に誠実で信頼できるパートナーであり続けることを大切にします。
　　　透明性と責任感を持って、社会や顧客と信頼関係を築きます。
　　５．柔軟性と適応力
　　　私たちは、変化する時代や顧客のニーズに対して、柔軟に対応し適応します。
　　　市場の変化や技術の進化に迅速に対応することで、常に最適なソリューションを提供します。
　　６．協力と共創
　　　社会やパートナーと協力し、共に新しい価値を創造することを大切にします。
　　　チームや他者との協力を通じて、より大きな成果を生み出します。


◆活動代表責任者
　上砂　龍馬


◆所在地
　香川県


◆お問い合わせ先
　お問い合わせ先はこちら→<a href="/contact" target="_parent" style="color:#AA0000">【お問い合わせフォームへ移動】</a>
　　【受付対応時間】土日祝、その他本業規定時間外
　　※ 忙しい場合、返信が遅れることがあります。あらかじめご了承ください。

    </pre></td></tr>
    <tr><td colspan=2 height=10>&nbsp;</td></tr>
    <tr><td colspan=2 align=center><a href="JavaScript:window.history.back()"><font color=#AA0000><b>[戻る]</b></font></a></td></tr>
    <tr><td colspan=2 height=10>&nbsp;</td></tr>
  </table>
</div>

{% endblock %}

{% block community %}
{% endblock %}

{% block sale %}
{% endblock %}

{% block footer_script %}
{% endblock %}