
<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1, maximum-scale=1">
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="application/json; charset=UTF-8" />
<!-- <link rel="stylesheet" href="https://gigaplus.makeshop.jp/relaxfurn/css/reset.css"> -->
<link href="https://gigaplus.makeshop.jp/relaxfurn/css/style_footer.css?20231015-2" rel="stylesheet" type="text/css" />
<section id="foot">
<footer>
<ul class="flexbox">
<li><a href="/top" target="_top">トップページ</a></li>
<li><a href="/company" target="_top">活動概要</a></li>
<li><a href="/privacy" target="_top">プライバシーポリシー</a></li>
<!-- <li><a href="https://kodomotokurashi.com/html/ordercontract.html" target="_top">特定商取引法に基づく表記</a></li> -->
<!-- <li><a href="https://kodomotokurashi.com/html/info.html" target="_top">お買い物ガイド</a></li> -->
<li><a href="/contact" target="_parent">お問い合わせ</a></li>
<!-- <li>Mail：<a href="mailto:info@rnsystem.jp">info@rnsystem.jp</a></li> -->
</ul>
<p class="ban">禁無断複製、無断転載、 このホームページに掲載されている記事・写真などの無断転載を禁じます。 </p>
<p class="copyright">Copyright(c) Rnsystem. All Rights Reserved.</p>
</footer>
</section>

