{% extends 'base.html' %}


{% block header_script %}
{% endblock %}

{% block menu %}
{% endblock %}


{% block main %}

<style>
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  pre {
    white-space: pre-wrap; /* 長いテキストの折り返し */
    word-wrap: break-word;
  }
  table {
    width: 100%; /* 幅を100%に */
    margin: 0 auto; /* テーブルを中央揃え */
  }
  .signature-image {
    max-width: 20%; /* 最大幅を画面サイズに合わせる */
    height: auto; /* 高さを自動調整 */
    display: block;
    margin-left: auto; /* 右端に寄せる */
  }
</style>

<div class="container">
  <table border=0 cellpadding=0 cellspacing=0>
    <tr><td colspan=2 width="573" align="left"></td></tr>
    <tr><td colspan=2 class=line height=10>&nbsp;</td></tr>
    <tr><td colspan=2 class=line height=10>&nbsp;</td></tr>
    <tr><td colspan=2 class=line height=10>&nbsp;</td></tr>
    <tr><td colspan=2 class=line height=10>&nbsp;</td></tr>
    <tr><td width=5>&nbsp;</td><td align="left"><pre>
宣言 

Rnsystem(アールエヌシステム)（以下「Rnsystem」）では、個人情報の保護を最重要責務と認識し、利用者が安心していただける環境をご提供できるよう、 
以下の通りプライバシーポリシーを定め、保護に努めます。 


◆個人情報保護に関する基本方針 
1.個人情報保護に関するコンプライアンス・プログラムを策定し、個人情報の収集、利用、および提供を行う場合、全従業員はこれを遵守し、継続的に見直し、改善を行います。 
2.個人情報の紛失、個人情報への不正なアクセス、破壊、改ざん・漏えい等を予防するための合理的な安全策を講じ、具体的なルールを定めこれらを遵守します。 
3.Rnsystemは、個人情報保護に関する法令、その他の規範およびガイドラインを遵守します。 


◆お客様情報の定義 
Rnsystemのサービスをご利用いただくためにご登録いただいた氏名、郵便番号、住所、電話番号、FAX番号、メールアドレス、お勤め先などのご登録情報を「個人情報」として取り扱います。 



◆個人情報の利用目的 
Rnsystemでは、個人情報を以下の目的で利用いたします。 
1.ご案内をお送りする事に同意をいただいた方に対し、メール、郵便等の通信手段により、商品、ソリューション、サービス、およびキャンペーン等の情報をお知らせするため。 
2.ご利用いただいた方のご登録内容、ご質問内容確認のため。 
3.各種事業に関するPR、調査、データ集積、分析、研究開発のため。 
4.個人情報の開示請求に対する本人確認のため。 
5.決済に係るクレジットカードの不正利用の検知・防止のため。


◆個人情報の訂正等 
Rnsystemは、利用者ご本人より個人情報の開示、訂正、削除等のご希望があった場合には、速やかに対応いたします。 
なお、これら個人情報の訂正等に当たっては、実費を勘案し合理的な範囲での手数料を申し受ける場合がございます。 


◆個人情報の開示、委託 
Rnsystemは、利用者へのサービスとして不可分な業務範囲において、業務委託先に対し委託業務を遂行するために必要な情報に限り、個人情報の一部を提供する場合がございます。 
なお、これらの業務委託先が業務を遂行する以外の目的において個人情報を使用、および開示することは禁じており、必要かつ適切な監督を行います。 
また、裁判所、警察機関等の公的機関からの開示要請があった場合、合併、分割などの事由により事業を継承する事に伴って個人情報を引き継ぐ場合、法令等に基づき提示の要請があった場合は、開示に応じる場合がございます。 
Rnsystemがお客様から収集した以下の個人情報等は、カード発行会社がおこなう不正利用検知・防止のために、お客様が利用されているカード発行会社へ提供させていただきます。
・氏名、請求先住所、電話番号、配送先住所、Ｅメールアドレス、インターネット利用環境に関する情報等お客様が利用されているカード発行会社が外国にある場合、これらの情報は当該発行会社が所属する国に移転される場合があります。
お客様が未成年の場合、親権者または後見人の承諾を得た上で、本サービスを利用するものとします。


◆免責事項 
1.Rnsystemのサービスをご利用いただく際にご入力下さった情報について、お客様ご本人から訂正のご依頼がある場合を除きその正確性等の事由によるトラブルについて、Rnsystemは一切の責任を負いません。 
2.天災、災害、およびRnsystemが防ぎ得ない外的要因により利用者に損害が生じた場合は、Rnsystemはその責を負いません。 
3.当WEBサイトの全ての情報は、予告無しに変更又は削除される場合がございます。予めご了承下さい。  



    </pre></td></tr>
    <tr><td colspan=2 width="573" align="center"><img src="{{ url_for('static', filename='image/Rbk_bg002.png') }}" alt="Rnsystem公式ロゴ"></td></tr>
    <tr><td colspan=2 height=10>&nbsp;</td></tr>
    <tr><td colspan=2 height=10>&nbsp;</td></tr>
    <tr><td colspan=2 align=center><a href="JavaScript:window.history.back()"><font color=#AA0000><b>[戻る]</b></font></a></td></tr>
    <tr><td colspan=2 height=10>&nbsp;</td></tr>
  </table>
</div>

{% endblock %}

{% block community %}
{% endblock %}

{% block sale %}
{% endblock %}

{% block footer_script %}
{% endblock %}